 #  NAME: MUHAMMAD TALHA
 # REG NO: 23JZELE0543 
 # SECTI0N: B

# Lab 3: List, Tuple, and Dictionary

# Lab Title: EE-271 “OOP & Data Structures Lab”

# Lab Report Work

# (1).

In [1]:
students = [
    ["Muhammad Talha", 505, 3.8, [3.7, 3.7, 3.8, 3.9]],
    ["Ahmad", 506, 3.6, [3.2, 3.8, 3.9, 3.7]],
    ["M Ahmad", 507, 3.9, [4.0, 3.8, 4.0, 3.9]],
    ["anas", 508, 3.7, [3.6, 3.7, 3.8, 3.9]],
    ["usman", 509, 3.5, [3.3, 3.5, 3.7, 3.8]],
]
for student in students:
    name = student[0]
    reg_number = student[1]
    cgpa = student[2]
    gpas = student[3]
    
    print(f"Name: {name}, Registration Number: {reg_number}, CGPA: {cgpa}, GPA per Semester: {gpas}")

Name: Muhammad Talha, Registration Number: 505, CGPA: 3.8, GPA per Semester: [3.7, 3.7, 3.8, 3.9]
Name: Ahmad, Registration Number: 506, CGPA: 3.6, GPA per Semester: [3.2, 3.8, 3.9, 3.7]
Name: M Ahmad, Registration Number: 507, CGPA: 3.9, GPA per Semester: [4.0, 3.8, 4.0, 3.9]
Name: anas, Registration Number: 508, CGPA: 3.7, GPA per Semester: [3.6, 3.7, 3.8, 3.9]
Name: usman, Registration Number: 509, CGPA: 3.5, GPA per Semester: [3.3, 3.5, 3.7, 3.8]

# (2).

In [13]:
x = ["a", ["bb", ["ccc", "ddd"], "ee", "ff"], "g", ["hh", "ii"], "j"]

# Accessing each element
element_0 = x[0]
element_1 = x[1]  
element_2 = x[2]  
element_3 = x[3]  
element_4 = x[4]  

print("Accessed Elements:")
print(element_0)            
print(element_1)            
print(element_2)            
print(element_3)            
print(element_4)

Accessed Elements:
a
['bb', ['ccc', 'ddd'], 'ee', 'ff']
g
['hh', 'ii']
j

In [15]:
# Accessing nested elements
element_1_0 = x[1][0]           
element_1_1 = x[1][1]           
element_1_1_0 = x[1][1][0]      
element_1_1_1 = x[1][1][1]    
element_1_2 = x[1][2]          
element_1_3 = x[1][3]           
element_3_0 = x[3][0]           
element_3_1 = x[3][1]           

print("Accessed Elements:")
print(element_1_0)         
print(element_1_1)          
print(element_1_1_0)        
print(element_1_1_1)        
print(element_1_2)          
print(element_1_3)          
print(element_3_0)          
print(element_3_1)

Accessed Elements:
bb
['ccc', 'ddd']
ccc
ddd
ee
ff
hh
ii

In [17]:
list[1,2,3,4,5]

list[1, 2, 3, 4, 5]